# Server
PORT=8080

# Backend service URLs
# Local development:
#   LOGIN_REG_URL=http://localhost:3000
#   INFORMATION_URL=http://localhost:3001
#   PAYMENT_URL=http://localhost:3002

LOGIN_REG_URL=http://localhost:3000
INFORMATION_URL=http://localhost:3001
PAYMENT_URL=http://localhost:3002